* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1em;
}
    
body {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0 auto;
    text-align: center;
    font-size: large;

}

@media screen and (max-width: 450px) {
  .navbar a {
    float: none;
    display: block;
    text-align: center;
    flex-direction: column;
  }
  .header-right {
    float: none;
  }
  .container {
        width: 100vw;
    }
}


.logo {
    width: 120px;
    padding: 10px 10px 0px 10px;
    float: left;
    
}

.facebook-top {
    width: 50px;
    padding: 20px 10px 10px 10px;
    display: flex;
}

.instagram-top {
    display: flex;
    width: 50px;
    padding: 20px 10px 10px 10px;
}

.twitter-top {
    display: flex;
    width: 50px;
    padding: 20px 10px 10px 10px;
}

.donatebutton {
    background-color: #8cc640;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 10px 10px 10px;
    width: 100px;
    margin: 20px 10px 10px 10px;
    border: none;
    float: right;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    float: right;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.topnav a {
    float: center;
    color: #28ADE3;
    text-align: center;
    padding: 300px 600px;
    text-decoration:inherit;
    font-size: 30px;
    height: 30px;
    position: relative;
    
}

.topnav a:hover {
    color: #28ADE3;
}

.topnav a.active {
    background-color: #8cc640;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    height: 80px;
    
}

li {
    float:left;
    font-family: 'Ubuntu', sans-serif;
    margin: 30px 10px 10px 20px;
}

li a, .dropbtn {
    display: inline-block;
    color: #28ADE3;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    margin: 20px 10px 10px 10px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #8cc640;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #28ADE3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*https://www.w3schools.com/howto/howto_css_blog_layout.asp*/

/* Header/Blog Title */
.header {
  padding: 0px 20px 20px 20px;
  font-size: 30px;
  text-align: left;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  background-color: #8cc640;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 75%;
  padding: 0px 10px 10px 10px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 23%;
  
  align: center;
}

/* Add a card effect for articles */
.card {
  background-color: #28ADE3;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

.blog-body {
text-align: left;
}

.aaiff_blog {
    width: 250px;
}

.hr {
    color: white;
    width: 20%
    align: center;
}

.minutes {
   width: 250px; 
}

.art {
    width: 250px; 
}

.invisible {
    width: 250px; 
}

.threefeet {
    width: 250px; 
}

.lin_blog {
    width: 250px;
    padding: 5px 5px 5px 5px;
}

.LinChenInterview {
    width: 250px;
}

.LinChenInterview1 {
    width: 250px;
}

.LinChenInterview2 {
    width: 250px;
}

h1 {
    font-size: larger;
}

.BlogLinks: {
    color: white;
    text-decoration: none,
    color: #FDFEFE;
}

.BlogLinks:hover {
    color: #8cc640;
}

.BlogLinks:visited {
    color: #006990;
}


/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background: #006990;
    margin-top: 20px;
}

.section-7 {
    display: flex;
    
}


.sec7-left {
    background-color: #006990;
    width: 50%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 20px 20px 20px;
    float: right;
    
}

#about2 {
    float: left;
    text-align: center;
    padding: 35px 20px 20px 20px;
}

.blog2 {
    float: none;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.involved2 {
    text-align: center;
     padding: 0px 50px 50px 50px;
}

footer a {
    text-decoration: none;
    color: white;
    
}

footer a:hover {
    color: #28ADE3;
}

.sec7-right {
    height: inherit;
    width: 40%;
    border: 10px;
    background-color: ##006990;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.contact2 {
    float: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
    color: white;
}
    
.bot-nav {
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 20px 20px;

}

.ret-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.up {
    height: 30px;
}

.copy {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px 20px 20px 20px;
    color: #8cc640;
}

.facebook {
    width: 40px;
    padding: 15px 10px 10px 0px;
    text-align: center;
    
}

.instagram {
    width: 40px;
    padding: 15px 10px 10px 0px;
    
}

.twitter {
    width: 40px;
    padding: 15px 10px 10px 0px;
    
}

.follow {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: #8cc640;
    padding: 20px 20px 20px 20px;
    text-align: center;
}
/*end of footer*/

/*BLOG PAGE*/


.link: a {
    text-decoration: none;
    color: white;
    
}

.link a:hover {
    text-decoration: none;
    color: #8cc640;
}

@media only screen and (max-width: 600px){
    html {
        font-size: 12px;
    }
    .container {
        width: 100vw;
    }
    
    #menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
    
    section {
        flex-direction: column;
        max-width: width: 100%;
}

    .section-1 {
         padding-top: 100px;
         padding-bottom: 30px;
    }

    ul {    
    position: absolute;
    overflow: visible;
     padding-top: 50px,
}

    .logo {
        display: none;
    }        
    .header {
        padding-top: 100px;
        width: 100%;
    }
    .donatebutton {
        display: none;
    
    }
    
    .facebook-top {
    display: none;
}

    .instagram-top {
    display: none;
}

    .twitter-top {
    display: none;
}
}

